* {
  margin: 0;
  padding: 0;
}

.game-wrap {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.game-wrap div {
  position: absolute;
}

.wheel {
  width: 35vh;
  height: 35vh;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  left: 30px;
  bottom: 30px;
  z-index: 9;
}

.wheel-child {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  background: #00000066;
  z-index: 10;
}

.fire {
  position: absolute;
  right: 100px;
  bottom: 50px;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1) url('../imgs/frie.png') no-repeat 50% 50%;
}